<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Loopstudios - Home</title>

        <link rel="stylesheet" href="./home.component.css">
    </head>

    <body>
        <header id="header-home">
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-light navbar-right transparent">
                    <a class="brand" href="#">loopstudios</a>
                    <button class="navbar-toggler" type="button">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                        <div class="navbar-nav">
                            <a href="#" class="nav-item nav-link">
                                About
                            </a>
                            <a href="#" class="nav-item nav-link">
                                Careers
                            </a>
                            <a href="#" class="nav-item nav-link">
                                Events
                            </a>
                            <a href="#" class="nav-item nav-link">
                                Products
                            </a>
                            <a href="#" class="nav-item nav-link">
                                Support
                            </a>
                        </div>
                    </div>
                </nav>

                <div id="capa">
                    <div id="caixa-capa">
                        <h1>Immersive</h1>
                        <h1>Experiences</h1>
                        <h1>That deliver</h1>
                    </div>
                </div>
            </div>
        </header>

        <section>
            
        </section>
    </body>
</html>