<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Loopstudios - Home</title>

        <link rel="stylesheet" href="./home.component.css">
    </head>

    <body>
        <header id="header-home">
    
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-light navbar-right transparent">
                    <a class="brand" href="#">loopstudios</a>
                    <button class="navbar-toggler" type="button">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                        <div class="navbar-nav">
                            <a href="#" class="nav-item nav-link">
                                About
                            </a>
                            <a href="#" class="nav-item nav-link">
                                Careers
                            </a>
                            <a href="#" class="nav-item nav-link">
                                Events
                            </a>
                            <a href="#" class="nav-item nav-link">
                                Products
                            </a>
                            <a href="#" class="nav-item nav-link">
                                Support
                            </a>
                        </div>
                    </div>
                </nav>

                <div id="capa">
                    <div id="caixa-capa">
                        <h1>Immersive</h1>
                        <h1>Experiences</h1>
                        <h1>That deliver</h1>
                    </div>
                </div>
            </div>

        </header>

        <div class="container">
            <section class="container-area content-area interactive-area">
                <img src="../../assets/images/desktop/image-interactive.jpg" class="img-fluid">

                <article class="area-texto">
                    <h1>THE LEADER IN INTERACTIVE VR</h1>
                    <p>
                        Founded in 2011, Loopstudios has been producing world-class
                        virtual reality projects for some of the best companies around
                        the globe. Our award-winning creations have transformed business
                        through digital experiences that bind to their brand.
                    </p>
                </article>
            </section>
            
            <section class="container-area creations">
                <div class="our-creations">
                    <h2>OUR CREATIONS</h2>

                    <a href="#" class="btn-see">SEE ALL</a>
                </div>

                <div class="categorias">
                    <a href="#" class="img-categoria">
                        <img src="../../assets/images/desktop/image-deep-earth.jpg" alt="Deep Earth" class="img-fluid">
                    
                        <div class="informacoes">
                            <p class="texto-categoria">
                                DEEP EARTH
                            </p>
                        </div>
                    </a>
                    <a href="#" class="img-categoria">
                        <img src="../../assets/images/desktop/image-night-arcade.jpg" alt="Night Arcade" class="img-fluid">
                    
                        <div class="informacoes">
                            <p class="texto-categoria">
                                NIGHT ARCADE
                            </p>
                        </div>
                    </a>
                    <a href="#" class="img-categoria">
                        <img src="../../assets/images/desktop/image-soccer-team.jpg" alt="Soccer Team" class="img-fluid">
                    
                        <div class="informacoes">
                            <p class="texto-categoria">
                                SOCCER TEAM VR
                            </p>
                        </div>
                    </a>
                    <a href="#" class="img-categoria">
                        <img src="../../assets/images/desktop/image-grid.jpg" alt="Image Grid" class="img-fluid">
                    
                        <div class="informacoes">
                            <p class="texto-categoria">
                                THE GRID
                            </p>
                        </div>
                    </a>
                    <a href="#" class="img-categoria">
                        <img src="../../assets/images/desktop/image-from-above.jpg" alt="From Above" class="img-fluid">
                    
                        <div class="informacoes">
                            <p class="texto-categoria">
                                FROM UP ABOVE VR
                            </p>
                        </div>
                    </a>
                    <a href="#" class="img-categoria">
                        <img src="../../assets/images/desktop/image-pocket-borealis.jpg" alt="Pocket Borealis" class="img-fluid">
                    
                        <div class="informacoes">
                            <p class="texto-categoria">
                                POCKET BOREALIS
                            </p>
                        </div>
                    </a>
                    <a href="#" class="img-categoria">
                        <img src="../../assets/images/desktop/image-curiosity.jpg" alt="Curiosity" class="img-fluid">
                    
                        <div class="informacoes">
                            <p class="texto-categoria">
                                THE CURIOSITY
                            </p>
                        </div>
                    </a>
                    <a href="#" class="img-categoria">
                        <img src="../../assets/images/desktop/image-fisheye.jpg" alt="Fisheye" class="img-fluid">
                    
                        <div class="informacoes">
                            <p class="texto-categoria">
                                MAKE IT FISHEYE
                            </p>
                        </div>
                    </a>
                </div>
            </section>
        </div>

        <footer class="footer">
            
            <div class="content-footer">
                <div class="links-footer">
                    <div class="logo">
                        <a href="#" class="brand">loopstudios</a>
                    </div>
                    <nav class="nav-footer">
                        <a href="#">
                            About
                        </a>
                        <a href="#">
                            Careers
                        </a>
                        <a href="#">
                            Events
                        </a>
                        <a href="#">
                            Products
                        </a>
                        <a href="#">
                            Support
                        </a>
                    </nav>
                </div>

                <div class="redes-sociais">
                    <div class="area-icones">
                        <a href="#" class="icone-rede">
                            <img src="../../assets/images/icon-facebook.svg">
                        </a>
                        <a href="#" class="icone-rede">
                            <img src="../../assets/images/icon-twitter.svg">
                        </a>
                        <a href="#" class="icone-rede">
                            <img src="../../assets/images/icon-pinterest.svg">
                        </a>
                        <a href="#" class="icone-rede">
                            <img src="../../assets/images/icon-instagram.svg">
                        </a>
                    </div>
            
                    <div class="area-copy">
                        &copy; 2021 loopstudios. All rights reserved.
                    </div>
                
                </div>
            </div>
            
                
        </footer>

    </body>
</html>