.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    padding-left: 50px;
}

.brand {
    font-weight: 700;
    font-size: 25px;
    text-decoration: none;
    color: #fff;
}

.navbar-nav a {
    color: #fff;
    font-weight: 800;
    font-size: 15px;
}

.navbar-nav a:hover {
    color: #bd46bd;
    font-weight: 700;
    transition: all .5s;
}

.transparent {
    background-color: rgba(0, 0, 0, 0);
}

#header-home {
    width: 100%;
    height: 550px;
    background: url("../../assets/images/desktop/image-hero.jpg"),
            linear-gradient(to left, #4D284D, #6e226e);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#capa {
  max-width: 500px;
  border: 1px solid #fff;
  margin: 70px 0 0 50px;
  z-index: 1;
  padding: 30px;
}

#caixa-capa {
  font-weight: 400;
  font-size: 28px;
  color: #fff;
  line-height: 2px;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.container-area {
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 120px;
}

.container-total {
    width: 100%;
}

.content-area {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.interactive-area {
    position: relative;
    padding-bottom: 0;
    height: 600px;
}

.interactive-area img {
    width: 70%;
}

.area-texto {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 50%;
    width: 45%;
    padding: 20px;
    font-size: 15px;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
    background-color: #fff;
}

.creations {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding-bottom: 20px;
}

.our-creations {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.creations-galery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

/* ==== ÁREAS DOS BOTÕES ==== */
.btn-see {
    padding: 5px;
    width: 120px;
    border-radius: 2px;
    border: 1px solid #000;
    background-color: rgba(0, 0, 0, 0);
    text-decoration: none;
    text-align: center;
    color: #000;
    font-weight: 600;
}

.btn-see:hover {
    background-color: #000;
    color: #fff;
    transition: background-color 1s;
}

.categorias {
    display: grid;
    grid-template-rows: 350px 350px;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    padding-top: 50px;
}

.img-categoria  {
    position: relative;
    background: linear-gradient(to bottom right, rgba(0,47,75,0.5) 0%, rgba(220, 66, 37, 0.5) 100%);
}

.img-categoria img {
    width: 100%;
    height: 100%;
    z-index: -1;
}

.informacoes {
    width: 100%;
    height: 30px;
    position: absolute;
    bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0);
}

.texto-categoria {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    width: 100%;
    text-align: left;
    padding-left: 15px;
}

.footer {
    display: flex;
    width: 100%;
    height: 150px;
    background-color: #000;
    margin-top: 100px;
}

.links-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 50%;
    height: 100%;
    padding: 20px 0;
    padding-left: 13%;
}

.nav-footer a {
    text-decoration: none;
    color: #fff;
    margin-right: 10px;
    font-size: 15px;
    font-weight: 800;
}

.nav-footer a:hover {
    color: #bd46bd;
    transition: all .5s;
}

.links-footer div {
    margin-bottom: 15px;
}

.redes-sociais {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 50%;
    height: 100%;
    padding: 20px 0;
    padding-right: 13%;
    border: 1px solid green;
}

.area-icones {
    display: flex;
}

.area-icones a {
    margin-left: 10px;
}

.icone-rede {
    display: inline-block;
    width: 30px;
    height: 15px;
}

.area-copy {
    color: #fff;
    font-size: 13px;
    padding: 20px;
    padding-right: 0;
}